/* rubik-regular - latin_cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/rubik-v9-latin_cyrillic-regular.woff2') format('woff2'), 
	url('../fonts/rubik-v9-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: url('../fonts/rubik-v9-latin_cyrillic-500.woff2') format('woff2'),
	url('../fonts/rubik-v9-latin_cyrillic-500.woff') format('woff'); 
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('../fonts/rubik-v9-latin_cyrillic-700.woff2') format('woff2'),
	url('../fonts/rubik-v9-latin_cyrillic-700.woff') format('woff'); 
}

*::before,
*::after{
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #222
}
header {
	background-color: #F6F6F9;
	border-top: #295093 4px solid;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

/*header qismi boshlanishi*/

.header-wrapper {
	padding-top: 42px;
	padding-bottom: 23px;
}

.main-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-menu,
.right-menu{
	display: flex;
	align-items: center;
}

.main-link {
	display: inline-flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #295091;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
	border-radius: 4px;
	background-color: #FFFFFF;
}

.valyuta{
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 258px;
	list-style: none;
	margin-left: 17px;
}

.currency-icon {
	font-weight: bold;
	line-height: 19px;
	color: #285193;
}

.currency-value {
	color: #7A7A7A;
}

.right-menu a,button{
	cursor: pointer;
	outline: none;
	border: none;
	margin-left: 15px;
}

.magnify,
.rus,
.telegram{
	font-weight: 500;
	line-height: 19px;
}

.magnify,
.rus {
	padding: 7px;
	height: 40px;
	border-radius: 5px;
	background-color: #FFFFFF;
} 

.magnify{
	width: 38px;
}

.rus {
	width: 65px;
}

.rus span{
	display: flex;
	justify-content: center;
	align-items: center;
}

.rus img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 5px;
	border: 0.1px solid grey;
}

.telegram {
	display: inline-flex;
	padding: 10px 12px;
	justify-content: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
	border-radius: 5px;
}
.telegram:hover {
	background: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}
.telegram img {
	margin-right: 10px;
}

.nav {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	list-style-type: none;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
	border-radius: 5px;
	padding: 22px 25px;
	margin-top: 40px;
}

.nav a {
	text-decoration: none;
	font-size: 19px;
	line-height: 23px;
	color: #515151;
	position: relative;
	transition: text-shadow 0.2s ease;
}
.nav a::before {
	content:'';
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 24px;
	width: 0px;
	height: 3px;
	background-color: grey;
	border-radius: 50px;
	transition: all 0.5s ease;
}
.nav a:hover:before {
	width: 100%;
}
.nav a:focus {
	color: #2400d6;
}
.nav a:active {
	color: #000000;
}

.ads1 {
	margin-top: 20px;
	border: 1px solid #E0E0E0;
	overflow: hidden;
}

.ads1 a {
	display: flex;
}

/*koronovirus info blogi*/


.corono-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	padding: 40px 35px;
	padding-right: 70px;
	list-style-type: none;
	background-color: #F6F6F9;
	border-radius: 5px;
	margin-top: 22px;
}
.corono-info-mini-block {
	border-left: 2px #EB5569 solid;
	display: flex;
	align-items: center;
	padding: 10px 0;
	padding-left: 30px;
	padding-right: 10PX;
}
.corono-info-mini-block img {
	margin-right: 19px;
}
.corona-text-side span {
	display: flex;
}
.corona-text-side  .benom {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

.corona-text-side .corona-rate {
	font-size: 25px;
	line-height: 30px;
}

.corona-infected .benom {
	color: #DB0000;
}
.corona-cured .benom {
	color: #05B135;
}
.corona-dead .benom {
	color: #000000;
}

.corona-heading {
	padding: 0;
	border: none;
}
.corona-heading .corona-text-side {
	width: 240px;
	font-size: 20px;
	line-height: 24px;
	margin-left: 20px;
	margin-right: 10px;
} 
.maqolalar{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.maqola_max{
	width: 386px;
	padding-bottom: 18px;
}
.maqola_max p{
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #202020;
}
.maqola_max a{
	text-decoration: none;
}
.sended_time{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #6B6D97;
}
.notification{
	width: 1200px;
	height: 91px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(239, 186, 84, 0.18);
	border-radius: 5px;
	margin-bottom: 38px;
}
.notification div{
	display: flex;
	align-items: center;
	padding-left: 34px;
	padding-bottom: 28px;
	padding-top: 28px;
}
.notification p{
	margin: 0;
	padding-left: 17px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.notification button{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	border:none;
	background:  linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
	border-radius: 5px;
	padding:8px 8px 8px 15px; 
	margin-right: 20px;
}
.notification button:hover{
	background:  linear-gradient(90deg,  rgba(255, 139, 54, 0.9) 0%,#FE5C28 88.43%);
}

.head_article{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 38px;
}
.article{
	width: 815px;
}
.article h3{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	margin:0;
	padding-bottom: 13px;
	line-height: 24px;
	color: #000000;
}
.article p{
	margin: 0;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #434343;
	padding-bottom: 12px;
}
.article h4{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin: 0;
	padding-bottom: 8px;
}
.article a{
	display: flex;
	justify-content: space-between;
	width: 785px;
	text-decoration: none;
}
.article h4:hover{
	text-decoration: underline;
}
.article  .time{
	display: flex;
	align-items: baseline;
	padding: 0;
}
.article time{
	padding-left: 4px;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #7688A4;
}
.article button{
	align-items: center;
	display: block;
	padding: 10px 32px;
	border:none;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color:#FFFFFF;
	background: #295093;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
.article button:hover{
	background: #1c5dcc;
}
.sardoba_link div{
	padding-left: 18px;
}
.oliy_majlis_link div{
	padding-left: 18px;
}
.avtobus_link div{
	padding-left: 18px;
}
.avtobus_link ,.oliy_majlis_link,.sardoba_link{
	padding-bottom: 18px;
}
.second_column{
	width: 386px;
	height: 1087px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.famous_informations{
	width: 385px;
	background: #F6F6F9;
	border-radius: 5px;
	padding: 17px 20px;
	margin-top: 8px;
}
.famous_informations h3{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #202020;
	margin: 0;
	padding-bottom: 6px;
}
.famous_informations ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.famous_informations li{
	padding-top: 18px;
	padding-bottom: 14px;
	border-bottom: 4px solid  #E4E4E4;;
}
.famous_informations li:nth-child(4){
	padding-bottom: 0px;
	border: none;
}
.famous_informations li:nth-child(1){
	padding-top: 0px;
}
.famous_informations a{
	text-decoration: none;
}
.famous_informations p:hover{
	text-decoration: underline;
}
.famous_informations p{
	font-style: normal;
	font-weight: normal;
	margin: 0;
	font-size: 17px;
	line-height: 20px;
	color: #202020;
	padding-bottom: 11px;
}
.famous_informations time{
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #7688A4
}
.famous_informations img{
	width: 386px;
	height: 477px;
}
.mobile_app_advertising{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background: #F6F6F9;
	border-radius: 5px;
	padding: 37px 20px 0px 19px;
	margin-bottom: 38px;
}
.mobile_app_words {
	width: 526px;
}
.mobile_app_words h2{
	margin: 0;
	font-weight: 500;
	font-size: 22px;
	line-height: 28px;
	color: #295093;
	margin-bottom: 10px;
}
.mobile_app_words p{
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}
.mobile_app_advertising a{
	justify-content: center;
	align-items: center;
	height: 53px;
	width: 173px;
	padding-top:1.5px;
	padding-bottom:1.5px;
	padding-right: 5px;
	padding-left: 5px;
	transition: ease padding 0.4s,
	height ease 0.4s;
}
.mobile_app_advertising img{
	height: 100%;
	transition: ease padding 0.4s,
	ease height 0.4s;
	object-fit: cover;
}
.mobile_app_advertising a:hover{
	padding: 0;
	height: 53px;
}
.mobile_app_advertising img:hover{
	padding: 0;
	height: 100%;
}

.article-article{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 38px;
}
.article-head_article h3{
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}
.words_of_president{
	width: 794px;
	display: flex;
	flex-direction: column;
}
.time_president{
	align-items: center;
	height: 17px;
}
.speak_president{
	margin-top: 14px;
	margin-bottom: 18px;
}
.optimal{
	margin-top: 0;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.time_president time{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #7688A4
}
.first_paragraph{
	margin-top: 0;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.italic_paragraph{
	margin-top: 0;
	font-style: italic;
	font-weight: bold;
}
.heshteg{
	font-family: "Rubik";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #28508E;
	width: 790px;
	border-bottom: 2px solid #EBEBEB;;
}

.foot{
	background: #295093;
}
.footer{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	justify-content: center;
}
.first_floor{
	align-items: center;
	padding-top:18px;
	padding-bottom:18px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 3px #133C82;
}
.namanganliklar24_link{
	width: 194px;
	height: 38px;
	text-transform: uppercase;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	padding : 11px 12px 6px 9px;
	background: #133C82;
	border-radius: 5px;
}
.subscription{
	align-items: center;
	display: flex;
}
.telegram_subscribe_word{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.subscription a{
	width: 132px;
	align-items: center;
	text-decoration: none;
	background: #FFFFFF;
	border-radius: 5px;
	padding:9px 10px;
	display: flex;justify-content: space-between;
	margin-left: 17px;
}
.subscription_word_ru{
	font-size: 14px;
	line-height: 17px;
	color: #295093;
}
.second_floor{
	display: flex;
	justify-content: flex-start;
}
.about_the_site{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	width: 365px;
}
.another a{
	margin-left: 111px;
	text-decoration: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.another a:hover{
	text-decoration: underline;
}
.second_another a{
	margin-left: 115px;
	text-decoration: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.second_another a:hover{
	text-decoration: underline;
}
.modal-main{
	display: none;
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}
.modal{
	z-index: 5;
	align-items: center;
	position: fixed;
	width: 819px;
	height: 230px;
	margin-left: 100px;
	top: 250px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
	border-radius: 5px;
}
.modal-span{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 500%;
	background-color: rgba(216, 216, 216, 0.3);
}
.modal p{
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
	text-align: center;
	color: #295093;
}
.modal div{
	width: 145px;
	margin: 40px auto;
}
.modal button{
	position: absolute;
	border: none;
	top: 10px;
	right: 10px;
	background-color: #fff;
}